In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [5]:
webpage = requests.get("https://www.worlddata.info/developing-countries.php").text

In [6]:
soup = BeautifulSoup(webpage, 'lxml')

In [7]:
print(soup.prettify())

<!DOCTYPE HTML>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <title>
   List of 152 developing countries
  </title>
  <link href="https://js.worlddata.info" rel="preconnect"/>
  <link href="https://js.worlddata.info" rel="dns-prefetch"/>
  <link href="https://cdn.worlddata.info" rel="preconnect"/>
  <link href="https://cdn.worlddata.info" rel="dns-prefetch"/>
  <link href="https://www.laenderdaten.info/entwicklungslaender.php" hreflang="de" rel="alternate"/>
  <link href="https://www.worlddata.info/developing-countries.php" hreflang="en" rel="alternate"/>
  <link href="https://www.datosmundial.com/paises-en-desarrollo.php" hreflang="es" rel="alternate"/>
  <link href="https://www.dadosmundiais.com/paises-desenvolvimento.php" hreflang="pt" rel="alternate"/>
  <link href="https://www.donneesmondiales.com/pays-voie-developpement.php" hreflang="fr" rel="alternate"/>
  <link href="https://www.worlddata.info/developing-countries.php" id="canonical" rel="canonical"/>
  <meta content="List of all 152 developing countries with below-average living standards" name="description"/>
  <meta content="index,follow,max-image-preview:large" name="robots"/>
  <meta content="true" name="HandheldFriendly"/>
  <meta content="360" name="MobileOptimized"/>
  <meta content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=yes" name="viewport"/>
  <meta content="#00405D" media="(prefers-color-scheme:light)" name="theme-color"/>
  <meta content="#000000" media="(prefers-color-scheme:dark)" name="theme-color"/>
  <link href="//cdn.worlddata.info/pics/favs/64x64.png" rel="icon" sizes="16x16 24x24 32x32 48x48 64x64" type="image/png"/>
  <link href="//cdn.worlddata.info/pics/favs/192x192.png" rel="apple-touch-icon" sizes="72x72 76x76 114x114 120x120 144x144 152x152 180x180 192x192"/>
  <link href="//cdn.worlddata.info/pics/favs/apple-touch-icon-precomposed.png" rel="apple-touch-icon-precomposed"/>
  <link href="//cdn.worlddata.info/css/footer8.css" media="print" onload="this.media='all'" rel="stylesheet"/>
  <meta content="List of 152 developing countries" property="og:title"/>
  <meta content="List of all 152 developing countries with below-average living standards" property="og:description"/>
  <meta content="website" property="og:type"/>
  <meta content="https://www.worlddata.info/developing-countries.php" property="og:url"/>
  <meta content="en_US" property="og:locale"/>
  <meta content="Worlddata.info" property="og:site_name"/>
  <meta content="https://cdn.worlddata.info/pics/og/entwicklungslaender.jpg" property="og:image"/>
  <meta content="1200" property="og:image:width"/>
  <meta content="628" property="og:image:height"/>
  <meta content="https://cdn.worlddata.info/pics/og/entwicklungslaender.jpg" name="twitter:image"/>
  <meta content="List of 152 developing countries" name="twitter:title"/>
  <meta content="summary" name="twitter:card"/>
  <meta content="List of all 152 developing countries with below-average living standards" name="twitter:description"/>
  <script defer="" src="//js.worlddata.info/public14-en.js">
  </script>
  <style>
   html,body{background-color:#DBD7D0;margin:0;font-size:9pt;color:#000;font-family:Verdana,Arial,Helvetica,Roboto;line-height:135%}#outer-wrap{max-width:990px;margin:0 auto;box-shadow:0 0 30px 5px rgba(0,0,0,.3);background-color:#fff}header{padding:80px 0 0 0;background-image:linear-gradient(to bottom,#fff 25%,#e2e2e2)}#navbar{height:13px}#sitetitle{float:left;width:300px;height:35px;text-align:left;padding-left:10px;margin-top:-5px}#topnav a,abbr{text-decoration:none !important}img,table{border:0}#intro1{position:relative;overflow:hidden;height:auto;box-sizing:border-box;color:#fff;padding:0}#intro3{position:relative;background-color:rgba(0,70,99,.75);padding:4% 4% 30px 4%;text-align:left;box-sizing:border-box}#intro1 a{color:#0ff}#blurbg{position:absolute;top:-20px;left:-20px;right:-20px;bottom:-20px;overflow:hidden;background-repeat:no-repeat;background-position:center center;background-size:cover;filter:blur(3px)}#blurbg.satellite{filter:blur(0px)}#intro3.satellite{background-color:rgba(0,40,40,.7)}.boxwhite{background-color:#fff;padding:30px}.greybg{background-color:#eee}.clear{clear:both}.br3{height:3em}.large{font-size:2em;margin:20px 0}a.langh{padding-left:22px}.center,tr.center th,tr.center td,div.map{text-align:center}.left,tr.left th:not(.right),tr.left td:not(.right){text-align:left !important}.right,tr.right th:not(.left),tr.right td:not(.left){text-align:right}.top,tr.top th:not(.bottom),tr.top td:not(.bottom){vertical-align:top}.bottom,tr.bottom th:not(.top),tr.bottom td:not(.top){vertical-align:bottom}img.right{float:right}img.deko{display:none;max-width:340px;height:auto;float:left;box-shadow:3px 3px 6px #000;margin:0 50px 30px 0}.floater{overflow:hidden}a{color:#3B45BA}h1{font-size:25pt;margin-top:0px;font-weight:normal;line-height:30pt;text-shadow:2px 2px 3px rgba(0,0,0,.5)}h2,.h2{font-size:16pt;color:#0D1656;line-height:160%;font-weight:normal}h3,.h3{font-size:13pt;color:#0D1656;line-height:140%;font-weight:normal;margin-bottom:10px}.nowrap{white-space:nowrap}img.shadow{box-shadow:3px 3px 6px #000}img.graph,picture.graph{max-width:100%;height:auto;margin:0 auto}br.br2,br.br3{display:block;margin-bottom:1em;content:' '}br.br3{margin-bottom:2em}a.btn,input.btn,button.btn{background-color:#666;color:#fff !important;padding:3px 20px 3px 20px;border:0px;border-radius:9px;cursor:pointer;text-align:center;text-decoration:none;white-space:nowrap}#intro1 .btn{background-color:#fff;color:#3B45BA !important}.boxwhite .btn{color:#3B45BA;font-weight:bold}.adtg{min-height:3px;text-align:center}#vidad{min-height:250px}div.hrz,div.bbd{display:block;width:auto;min-width:728px;min-height:90px;margin:5px auto 10px auto}div.bbd{min-width:970px;min-height:325px;margin:0}.cad,.cad-right{display:block;min-width:300px}ins.adsbygoogle{display:block;margin:0 auto}#searchform form{display:block;width:auto;padding:1px 1px 0 2px;border:1px solid #02968C;background-color:#fff;border-radius:5px;float:right}#searchform input[type=text]{width:185px;height:20px;font-size:13px;outline:none;border:0;background-color:transparent;color:#000}#searchgo{border:0;background-color:transparent;height:21px;width:21px;vertical-align:middle;margin:0 0 2px 15px}#menubtn{font-size:34px;color:#000;margin-right:10px;float:right;width:auto;display:inline-block}@media (max-width:630px){html,body{font-size:11pt}table.std100 tr>*{font-size:10pt}header{display:block;position:fixed;top:0;left:0;right:0;height:23px;padding:16px 12px;z-index:998;background-image:linear-gradient(to bottom,#fff,#e2e2e2);transition:all .5s ease-in-out}#sitetitle{width:240px;height:28px;padding-left:7px;margin-bottom:5px}#searchform form{width:240px;margin:15px auto;float:none;background-color:#D7DCDF}#searchform{border-bottom:1px solid #60A0BD;padding-bottom:15px}#inner-wrap{margin-top:55px}.ab630,#navbar{display:none}.sidenav{display:block;position:fixed;top:0;bottom:0;left:100%;width:250px;padding:10px;background-color:#ddd;z-index:999;overflow-y:auto}.nav-out{transform:translateX(10%)}.boxwhite{padding:10px 4% 30px 4%}h1{font-size:20pt}.cad,.cad-right,.cad-fix,.bbd{min-height:100px}div.cad-right{float:none;margin:10px 0 10px 0}div.hrz{min-width:auto;min-height:50px}div.bbd{min-width:auto;min-height:305px}}@media (max-width:380px){.boxwhite{padding:10px 2% 30px 2%}}@media (min-width:631px){#searchform{position:absolute;top:15px;width:100%;max-width:970px;margin:auto;z-index:1000;text-align:left}a.langh{font-size:8pt;color:#333;margin:0 7px;opacity:.6}#menubtn,.no-desktop,#topnav .subtitle{display:none}#topnav{display:inline-block;width:545px;float:right;text-align:left;padding-top:15px}#topnav a{float:left;width:73px;text-align:center;font-size:11pt;padding-bottom:3px}#topnav a.eu{width:83px}#topnav a.am{width:95px}#topnav a.au{width:105px}#topnav a.oz{width:100px}img.deko{display:block}#intro3{min-height:423px}.cad,.cad-right,.cad-fix{min-height:250px;max-width:336px}.cad-right+h2{margin-top:-5px}.cad-right{float:right;width:300px;margin:0 0 10px 20px}}@media (max-width:800px){img.deko{max-width:250px;margin:0 30px 20px 0}}@media(prefers-color-scheme:dark){html,body,#searchform form{background-color:#414141;color:#eaeaea}#outer-wrap,.boxwhite{background-color:#000}header{background-image:linear-gradient(to bottom,#000 30%,#333)}a{color:#31E5DB}h2,.h2,h3,.h3{color:#84D8F6}#searchcombo,.greybg{background-color:#222}#intro3{background-color:rgba(0,37,48,.77)}div#intro2,#intro3.satellite{background-color:rgba(0,25,25,.77)}#sitetitle{filter:brightness(4) saturate(.7)}#menubtn{color:#3CEFEF}}h1.p22,h1.p26{font-size:18pt}@media (min-width:631px){h1.p22{font-size:22pt}h1.p26{font-size:26pt}}.boxwhite ul{list-style-type:square;padding-left:10px}.boxwhite ul li{margin:5px 0 15px 8px}.std100 tr td,.std100 tr th{text-align:right;white-space:nowrap}.std100 tr td:first-of-type,.std100 tr th:first-of-type{text-align:left;white-space:normal;min-width:130px}.former{width:300px;margin:5px 0;float:left}#map{height:250px;position:relative;margin-bottom:20px}#map img{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;width:100%;height:auto;max-width:100%;max-height:250px;object-fit:scale-down}.mapswitch{position:absolute;bottom:4px;right:4px;padding:2px 15px;border-radius:5px;cursor:pointer;text-align:center;background-color:#ddd;border:1px solid #aaa;color:#000}.mapswitch:hover{box-shadow:2px 2px 3px rgba(0,0,0,.3)}@media (min-width:420px){#map{height:320px}#map img{max-height:320px}}@media (min-width:610px){#map{height:400px}#map img{max-height:400px}}
  </style>
 </head>
 <body data-page="Classification:Developing countries">
  <div id="outer-wrap">
   <div id="inner-wrap">
    <header>
     <nav id="menubtn" onclick="toggleNav('topnav');">
      ☰
     </nav>
     <div id="searchcombo">
     </div>
     <a href="/">
      <img alt="Worlddata.info" height="35" id="sitetitle" src="//cdn.worlddata.info/pics/logo-en750.png" width="300"/>
     </a>
     <nav class="sidenav nav-out" data-navbardefault="0" id="topnav">
      <div class="subtitle">
       <b id="navclose" onclick="toggleNav('topnav');">
        ✕
       </b>
       Countries in...
      </div>
      <a class="am" data-navbar="585" href="/america/index.php">
       Americas
      </a>
      <a class="eu" data-navbar="500" href="/europe/index.php">
       Europe
      </a>
      <a class="as" data-navbar="421" href="/asia/index.php">
       Asia
      </a>
      <a class="af" data-navbar="349" href="/africa/index.php">
       Africa
      </a>
      <a class="au" data-navbar="260" href="/australia/index.php">
       Australia
      </a>
      <a class="oz" data-navbar="155" href="/oceania/index.php">
       Oceania
      </a>
      <div class="no-desktop">
       <div class="subtitle">
        Geography
       </div>
       <a href="/the-largest-countries.php">
        Largest countries
       </a>
       <a href="/highest-mountains.php">
        Highest mountains
       </a>
       <a href="/capital-cities.php">
        Capital cities
       </a>
       <a href="/megacities.php">
        Megacities
       </a>
       <a href="/biggest-airports.php">
        Biggest airports
       </a>
       <a href="/timezones/index.php">
        Timezones
       </a>
       <div class="subtitle">
        Population
       </div>
       <a href="/populationgrowth.php">
        Population growth
       </a>
       <a href="/population-density.php">
        Population density
       </a>
       <a href="/average-bodyheight.php">
        Average body heights
       </a>
       <a href="/life-expectancy.php">
        Life expectancy
       </a>
       <a href="/iq-by-country.php">
        IQ by country
       </a>
       <a href="/quality-of-life.php">
        Quality of life
       </a>
       <a href="/languages/index.php">
        Languages
       </a>
       <a href="/religions/index.php">
        Religions
       </a>
       <a href="/refugees-by-country.php">
        Refugees
       </a>
       <div class="subtitle">
        Economy
       </div>
       <a href="/richest-countries.php">
        Richest countries
       </a>
       <a href="/unemployment-rates.php">
        Unemployment rates
       </a>
       <a href="/average-income.php">
        Average income
       </a>
       <a href="/income-taxes.php">
        Income taxes
       </a>
       <a href="/cost-of-living.php">
        Cost of living
       </a>
       <a href="/tourism.php">
        Top travel countries
       </a>
       <a href="/corruption.php">
        Corruption
       </a>
       <a href="/tax-havens.php">
        Tax havens
       </a>
       <a href="/currencies/">
        Currencies
       </a>
       <div class="subtitle">
        Climate + Nature
       </div>
       <a href="/earthquakes.php">
        Earthquakes
       </a>
       <a href="/volcanoes.php">
        Volcanoes
       </a>
       <a href="/cyclones.php">
        Cyclones
       </a>
       <a href="/global-warming.php">
        Global warming
       </a>
       <a href="/greenhouse-gas-by-country.php">
        CO2 emissions
       </a>
      </div>
     </nav>
     <div class="clear" data-pos="0" id="navbar" style="background-position:0px 0px;">
     </div>
    </header>
    <main id="main">
     <div id="intro1">
      <div id="blurbg" style="background-image:url(//cdn.worlddata.info/pics/nasa1.jpg);">
      </div>
      <div id="intro3">
       <img alt="Developing countries" class="deko" height="200" src="//cdn.worlddata.info/pics/entwicklungslaender.jpg" width="300"/>
       <div class="floater">
        <img alt="" class="right" data-vgw="06eff3cad7504eebab2e5b9967f6bf7e" height="4" id="vgwort" role="presentation" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" width="4"/>
        <h1>
         Developing Countries
        </h1>
        Developing countries are countries whose standard of living, income, economic and industrial development remain more or less below average. A further downgrade takes place vis-à-vis the least developed countries of the
        <a href="/least-developed-countries.php">
         fourth world
        </a>
        .
        <br/>
        <br/>
        According to the IMF definition, there are 152 developing countries with a current population of around 6.82 billion. At 85.54 percent, this is a considerable proportion of the world's population. It includes the whole of Central and South America, the whole of Africa, almost all Asian countries and numerous other island states.
        <br/>
       </div>
       <div class="clear">
       </div>
      </div>
     </div>
     <div class="boxwhite">
      <div id="map">
       <picture>
        <source media="(max-width:380px) and (prefers-color-scheme:dark)" srcset="//cdn.worlddata.info/maps/developing-countries-dark.png">
         <source media="(max-width:380px)" srcset="//cdn.worlddata.info/maps/developing-countries.png">
          <source media="(min-width:381px) and (prefers-color-scheme:dark)" srcset="//cdn.worlddata.info/maps/developing-countries-dark-720.png">
           <source media="(min-width:381px)" srcset="//cdn.worlddata.info/maps/developing-countries-720.png">
            <img alt="world map Developing countries" height="176" src="//cdn.worlddata.info/maps/developing-countries.png" width="360"/>
           </source>
          </source>
         </source>
        </source>
       </picture>
       <button class="mapswitch" onclick="interactiveMap()">
        ► Interactive map
       </button>
      </div>
      <script>

In [20]:
soup.find_all('td')[100]

In [24]:
c = []
for i in soup.find_all('td'):
    c.append(i.text.strip())

In [32]:
c

['Afghanistan',
 '41.1 M',
 '390 USD',
 '0.478',
 '42.0',
 'Albania',
 '2.8 M',
 '6,770 USD',
 '0.796',
 '',
 'Algeria',
 '44.9 M',
 '3,900 USD',
 '0.745',
 '90.2',
 'Angola',
 '35.6 M',
 '1,900 USD',
 '0.586',
 '52.0',
 'Antigua and Barbuda',
 '0.1 M',
 '18,280 USD',
 '0.788',
 '96.4',
 'Argentina',
 '46.2 M',
 '11,620 USD',
 '0.842',
 '97.6',
 'Armenia',
 '2.8 M',
 '5,960 USD',
 '0.759',
 '94.6',
 'Aruba *',
 '0.1 M',
 '29,460 USD',
 '',
 '',
 'Azerbaijan',
 '10.2 M',
 '5,630 USD',
 '0.745',
 '93.0',
 'Bahamas',
 '0.4 M',
 '31,530 USD',
 '0.812',
 '90.3',
 'Bahrain',
 '1.5 M',
 '27,180 USD',
 '0.875',
 '97.9',
 'Bangladesh',
 '171.2 M',
 '2,820 USD',
 '0.661',
 '75.3',
 'Barbados',
 '0.3 M',
 '19,350 USD',
 '0.790',
 '98.0',
 'Belarus',
 '9.2 M',
 '7,240 USD',
 '0.808',
 '',
 'Belize',
 '0.4 M',
 '6,800 USD',
 '0.683',
 '89.3',
 'Benin',
 '13.4 M',
 '1,400 USD',
 '0.525',
 '49.4',
 'Bhutan',
 '0.8 M',
 '3,040 USD',
 '0.666',
 '79.5',
 'Bolivia',
 '12.2 M',
 '3,450 USD',
 '0.692',
 '88.5',
 'Bosnia and Herzegovina',
 '3.2 M',
 '7,660 USD',
 '0.780',
 '',
 'Botswana',
 '2.6 M',
 '7,350 USD',
 '0.693',
 '83.1',
 'Brazil',
 '215.3 M',
 '8,140 USD',
 '0.754',
 '95.9',
 'Brunei',
 '0.4 M',
 '31,410 USD',
 '0.829',
 '93.8',
 'Bulgaria',
 '6.5 M',
 '13,250 USD',
 '0.795',
 '',
 'Burkina Faso',
 '22.7 M',
 '840 USD',
 '0.449',
 '56.0',
 'Burundi',
 '12.9 M',
 '240 USD',
 '0.426',
 '53.9',
 'Cambodia',
 '16.8 M',
 '1,700 USD',
 '0.593',
 '74.3',
 'Cameroon',
 '27.9 M',
 '1,660 USD',
 '0.576',
 '61.2',
 'Cape Verde',
 '0.6 M',
 '4,140 USD',
 '0.662',
 '91.2',
 'Central African Republic',
 '5.6 M',
 '480 USD',
 '0.404',
 '27.4',
 'Chad',
 '17.7 M',
 '690 USD',
 '0.394',
 '18.3',
 'Chile',
 '19.6 M',
 '15,360 USD',
 '0.855',
 '99.1',
 'China',
 '1,425.7 M',
 '12,850 USD',
 '0.768',
 '95.7',
 'Colombia',
 '51.9 M',
 '6,510 USD',
 '0.752',
 '93.9',
 'Comoros',
 '0.8 M',
 '1,610 USD',
 '0.558',
 '67.2',
 'Costa Rica',
 '5.2 M',
 '12,670 USD',
 '0.809',
 '97.3',
 'Democratic Republic of the Congo',
 '99.0 M',
 '590 USD',
 '0.479',
 '47.9',
 'Djibouti',
 '1.1 M',
 '3,180 USD',
 '0.509',
 '61.9',
 'Dominica',
 '0.1 M',
 '8,460 USD',
 '0.720',
 '93.5',
 'Dominican Republic',
 '11.2 M',
 '9,050 USD',
 '0.767',
 '90.9',
 'East Timor',
 '1.3 M',
 '1,970 USD',
 '0.607',
 '69.5',
 'Ecuador',
 '18.0 M',
 '6,310 USD',
 '0.740',
 '90.3',
 'Egypt',
 '111.0 M',
 '4,100 USD',
 '0.731',
 '83.3',
 'El Salvador',
 '6.3 M',
 '4,720 USD',
 '0.675',
 '88.2',
 'Equatorial Guinea',
 '1.7 M',
 '5,320 USD',
 '0.596',
 '67.1',
 'Eritrea',
 '3.7 M',
 '600 USD',
 '0.492',
 '57.2',
 'Eswatini',
 '1.2 M',
 '3,800 USD',
 '0.597',
 '77.1',
 'Ethiopia',
 '123.4 M',
 '1,020 USD',
 '0.498',
 '55.3',
 'Federated States of Micronesia',
 '0.1 M',
 '4,130 USD',
 '0.628',
 '83.3',
 'Fiji',
 '0.9 M',
 '5,270 USD',
 '0.730',
 '94.2',
 'Gabon',
 '2.4 M',
 '7,540 USD',
 '0.706',
 '78.5',
 'Gambia',
 '2.7 M',
 '810 USD',
 '0.500',
 '63.8',
 'Georgia',
 '3.7 M',
 '5,620 USD',
 '0.802',
 '98.4',
 'Ghana',
 '33.5 M',
 '2,350 USD',
 '0.632',
 '78.5',
 'Grenada',
 '0.1 M',
 '9,340 USD',
 '0.795',
 '96.5',
 'Guatemala',
 '17.4 M',
 '5,350 USD',
 '0.627',
 '69.3',
 'Guinea',
 '13.9 M',
 '1,180 USD',
 '0.465',
 '39.8',
 'Guinea-Bissau',
 '2.1 M',
 '820 USD',
 '0.483',
 '44.0',
 'Guyana',
 '0.8 M',
 '15,050 USD',
 '0.714',
 '89.8',
 'Haiti',
 '11.6 M',
 '1,610 USD',
 '0.535',
 '66.2',
 'Honduras',
 '10.4 M',
 '2,740 USD',
 '0.621',
 '83.4',
 'India',
 '1,425.8 M',
 '2,380 USD',
 '0.633',
 '74.3',
 'Indonesia',
 '275.5 M',
 '4,580 USD',
 '0.705',
 '83.3',
 'Iran',
 '88.6 M',
 '3,900 USD',
 '0.774',
 '91.4',
 'Iraq',
 '44.5 M',
 '5,270 USD',
 '0.686',
 '75.3',
 'Ivory Coast',
 '28.2 M',
 '2,620 USD',
 '0.550',
 '53.0',
 'Jamaica',
 '2.8 M',
 '5,670 USD',
 '0.709',
 '91.3',
 'Jordan',
 '11.3 M',
 '4,260 USD',
 '0.720',
 '90.4',
 'Kazakhstan',
 '19.6 M',
 '9,470 USD',
 '0.811',
 '98.3',
 'Kenya',
 '54.0 M',
 '2,170 USD',
 '0.575',
 '73.2',
 'Kiribati',
 '0.1 M',
 '3,280 USD',
 '0.624',
 '81.5',
 'Kosovo',
 '1.8 M',
 '5,590 USD',
 '',
 '',
 'Kuwait',
 '4.3 M',
 '39,570 USD',
 '0.831',
 '97.5',
 'Kyrgyzstan',
 '6.8 M',
 '1,410 USD',
 '0.692',
 '94.5',
 'Laos',
 '7.5 M',
 '2,360 USD',
 '0.607',
 '72.8',
 'Lebanon',
 '5.5 M',
 '4,970 USD',
 '0.706',
 '88.2',
 'Lesotho',
 '2.3 M',
 '1,260 USD',
 '0.514',
 '62.6',
 'Liberia',
 '5.3 M',
 '680 USD',
 '0.481',
 '45.2',
 'Libya',
 '6.8 M',
 '7,260 USD',
 '0.718',
 '83.6',
 'Madagascar',
 '29.6 M',
 '510 USD',
 '0.501',
 '60.7',
 'Malawi',
 '20.4 M',
 '640 USD',
 '0.512',
 '55.5',
 'Malaysia',
 '33.9 M',
 '11,780 USD',
 '0.803',
 '89.5',
 'Maldives',
 '0.5 M',
 '11,030 USD',
 '0.747',
 '89.4',
 'Mali',
 '22.6 M',
 '850 USD',
 '0.428',
 '45.6',
 'Marshall Islands',
 '0.0 M',
 '7,920 USD',
 '0.639',
 '79.6',
 'Mauritania',
 '4.7 M',
 '2,160 USD',
 '0.556',
 '54.1',
 'Mauritius',
 '1.3 M',
 '10,760 USD',
 '0.802',
 '94.1',
 'Mexico',
 '127.5 M',
 '10,410 USD',
 '0.758',
 '94.9',
 'Moldova',
 '2.6 M',
 '5,340 USD',
 '0.767',
 '',
 'Mongolia',
 '3.4 M',
 '4,210 USD',
 '0.739',
 '95.3',
 'Montenegro',
 '0.6 M',
 '10,400 USD',
 '0.832',
 '',
 'Morocco',
 '37.5 M',
 '3,710 USD',
 '0.683',
 '83.1',
 'Mozambique',
 '33.0 M',
 '500 USD',
 '0.446',
 '53.9',
 'Myanmar',
 '54.2 M',
 '1,210 USD',
 '0.585',
 '73.9',
 'Namibia',
 '2.6 M',
 '4,880 USD',
 '0.615',
 '83.5',
 'Nauru',
 '0.0 M',
 '17,870 USD',
 '',
 '92.0',
 'Nepal',
 '30.5 M',
 '1,340 USD',
 '0.602',
 '74.9',
 'Nicaragua',
 '6.9 M',
 '2,090 USD',
 '0.667',
 '85.3',
 'Niger',
 '26.2 M',
 '610 USD',
 '0.400',
 '35.6',
 'Nigeria',
 '218.5 M',
 '2,140 USD',
 '0.535',
 '43.5',
 'North Macedonia',
 '2.1 M',
 '6,640 USD',
 '0.770',
 '',
 'Oman',
 '4.6 M',
 '20,150 USD',
 '0.816',
 '93.1',
 'Pakistan',
 '235.8 M',
 '1,580 USD',
 '0.544',
 '57.6',
 'Palau',
 '0.0 M',
 '12,790 USD',
 '0.767',
 '92.1',
 'Panama',
 '4.4 M',
 '16,750 USD',
 '0.805',
 '89.1',
 'Papua New Guinea',
 '10.1 M',
 '2,730 USD',
 '0.558',
 '53.5',
 'Paraguay',
 '6.8 M',
 '5,920 USD',
 '0.717',
 '90.7',
 'Peru',
 '34.0 M',
 '6,770 USD',
 '0.762',
 '92.7',
 'Philippines',
 '115.6 M',
 '3,950 USD',
 '0.699',
 '84.3',
 'Poland',
 '37.6 M',
 '18,350 USD',
 '0.876',
 '',
 'Qatar',
 '2.7 M',
 '70,500 USD',
 '0.855',
 '96.2',
 'Republic of the Congo',
 '6.0 M',
 '2,060 USD',
 '0.571',
 '68.7',
 'Romania',
 '19.0 M',
 '15,660 USD',
 '0.821',
 '',
 'Russia',
 '143.6 M',
 '12,830 USD',
 '0.822',
 '',
 'Rwanda',
 '13.8 M',
 '930 USD',
 '0.534',
 '67.6',
 'Saint Kitts and Nevis',
 '0.0 M',
 '19,730 USD',
 '0.777',
 '96.1',
 'Saint Lucia',
 '0.2 M',
 '11,160 USD',
 '0.715',
 '93.3',
 'Saint Vincent and the Grenadines',
 '0.1 M',
 '9,110 USD',
 '0.751',
 '94.1',
 'Samoa',
 '0.2 M',
 '3,630 USD',
 '0.707',
 '96.1',
 'Sao Tome and Principe',
 '0.2 M',
 '2,410 USD',
 '0.618',
 '89.4',
 'Saudi Arabia',
 '36.4 M',
 '27,590 USD',
 '0.875',
 '95.6',
 'Senegal',
 '17.3 M',
 '1,640 USD',
 '0.511',
 '66.4',
 'Serbia',
 '6.8 M',
 '9,140 USD',
 '0.802',
 '',
 'Seychelles',
 '0.1 M',
 '14,340 USD',
 '0.785',
 '92.4',
 'Sierra Leone',
 '8.6 M',
 '510 USD',
 '0.477',
 '41.7',
 'Solomon Islands',
 '0.7 M',
 '2,220 USD',
 '0.564',
 '73.8',
 'Somalia',
 '17.6 M',
 '470 USD',
 '',
 '24.3',
 'South Africa',
 '59.9 M',
 '6,780 USD',
 '0.713',
 '86.2',
 'South Sudan',
 '10.9 M',
 '460 USD',
 '0.385',
 '22.0',
 'Sri Lanka',
 '22.2 M',
 '3,610 USD',
 '0.782',
 '93.2',
 'Sudan',
 '46.9 M',
 '760 USD',
 '0.508',
 '61.9',
 'Suriname',
 '0.6 M',
 '4,880 USD',
 '0.730',
 '91.2',
 'Syria',
 '22.1 M',
 '760 USD',
 '0.577',
 '77.2',
 'Tajikistan',
 '10.0 M',
 '1,210 USD',
 '0.685',
 '88.7',
 'Tanzania',
 '65.5 M',
 '1,200 USD',
 '0.549',
 '61.1',
 'Thailand',
 '71.7 M',
 '7,230 USD',
 '0.800',
 '94.0',
 'Togo',
 '8.8 M',
 '990 USD',
 '0.539',
 '58.8',
 'Tonga',
 '0.1 M',
 '4,930 USD',
 '0.745',
 '98.4',
 'Trinidad and Tobago',
 '1.5 M',
 '16,330 USD',
 '0.810',
 '94.6',
 'Tunisia',
 '12.4 M',
 '3,840 USD',
 '0.731',
 '90.8',
 'Turkey',
 '85.3 M',
 '10,590 USD',
 '0.838',
 '97.1',
 'Turkmenistan',
 '6.4 M',
 '7,080 USD',
 '0.745',
 '92.4',
 'Tuvalu',
 '0.0 M',
 '7,210 USD',
 '0.641',
 '82.8',
 'Uganda',
 '47.2 M',
 '930 USD',
 '0.525',
 '57.8',
 'Ukraine',
 '38.0 M',
 '4,270 USD',
 '0.773',
 '',
 'Uruguay',
 '3.4 M',
 '18,030 USD',
 '0.809',
 '98.1',
 'Uzbekistan',
 '35.6 M',
 '2,190 USD',
 '0.727',
 '95.7',
 'Vanuatu',
 '0.3 M',
 '3,560 USD',
 '0.607',
 '77.5',
 'Venezuela',
 '28.3 M',
 '13,080 USD',
 '0.691',
 '91.3',
 'Vietnam',
 '98.2 M',
 '4,010 USD',
 '0.703',
 '88.0',
 'Yemen',
 '33.7 M',
 '670 USD',
 '0.455',
 '57.7',
 'Zambia',
 '20.0 M',
 '1,170 USD',
 '0.565',
 '67.1',
 'Zimbabwe',
 '16.3 M',
 '1,500 USD',
 '0.593',
 '70.4',
 'Total population',
 '6.8 bn',
 '8.0 bn',
 '333.3 m',
 'GNP per capita',
 '6,039 USD',
 '12,804 USD',
 '76,370 USD',
 'Government debt (% of GDP)',
 '54.8 %',
 '64.8 %',
 '115.3 %',
 'Expenditure on education (% of GDP)',
 '4.0 %',
 '4.3 %',
 '6.1 %',
 'Unemployment rate',
 '6.4 %',
 '5.8 %',
 '3.6 %',
 'Literacy rate',
 '83.4 %',
 '86.8 %',
 '0.0 %',
 'Electricity access',
 '90.2 %',
 '91.4 %',
 '100.0 %',
 'Birth rate',
 '18.2 ‰',
 '16.9 ‰',
 '11.0 ‰',
 'Life expectancy',
 '69.8 years',
 '71.3 years',
 '76.3 years']

In [40]:
country = []
for i in range(796):
    if i%5 == 0:
        country.append(c[i])
    if c[i] == 'Zimbabwe':
        break

In [41]:
print(country)
len(country)

['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba *', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Costa Rica', 'Democratic Republic of the Congo', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Ethiopia', 'Federated States of Micronesia', 'Fiji', 'Gabon', 'Gambia', 'Georgia', 'Ghana', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ivory Coast', 'Jamaica', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Qatar', 'Republic of the Congo', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan', 'Sri Lanka', 'Sudan', 'Suriname', 'Syria', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

152

In [42]:
population = []
for i in range(796):
    if i%5 == 1:
        population.append(c[i])
    if c[i-1] == 'Zimbabwe':
        break

print(population)
len(population)

['41.1 M', '2.8 M', '44.9 M', '35.6 M', '0.1 M', '46.2 M', '2.8 M', '0.1 M', '10.2 M', '0.4 M', '1.5 M', '171.2 M', '0.3 M', '9.2 M', '0.4 M', '13.4 M', '0.8 M', '12.2 M', '3.2 M', '2.6 M', '215.3 M', '0.4 M', '6.5 M', '22.7 M', '12.9 M', '16.8 M', '27.9 M', '0.6 M', '5.6 M', '17.7 M', '19.6 M', '1,425.7 M', '51.9 M', '0.8 M', '5.2 M', '99.0 M', '1.1 M', '0.1 M', '11.2 M', '1.3 M', '18.0 M', '111.0 M', '6.3 M', '1.7 M', '3.7 M', '1.2 M', '123.4 M', '0.1 M', '0.9 M', '2.4 M', '2.7 M', '3.7 M', '33.5 M', '0.1 M', '17.4 M', '13.9 M', '2.1 M', '0.8 M', '11.6 M', '10.4 M', '1,425.8 M', '275.5 M', '88.6 M', '44.5 M', '28.2 M', '2.8 M', '11.3 M', '19.6 M', '54.0 M', '0.1 M', '1.8 M', '4.3 M', '6.8 M', '7.5 M', '5.5 M', '2.3 M', '5.3 M', '6.8 M', '29.6 M', '20.4 M', '33.9 M', '0.5 M', '22.6 M', '0.0 M', '4.7 M', '1.3 M', '127.5 M', '2.6 M', '3.4 M', '0.6 M', '37.5 M', '33.0 M', '54.2 M', '2.6 M', '0.0 M', '30.5 M', '6.9 M', '26.2 M', '218.5 M', '2.1 M', '4.6 M', '235.8 M', '0.0 M', '4.4 M', '10.1 M', '6.8 M', '34.0 M', '115.6 M', '37.6 M', '2.7 M', '6.0 M', '19.0 M', '143.6 M', '13.8 M', '0.0 M', '0.2 M', '0.1 M', '0.2 M', '0.2 M', '36.4 M', '17.3 M', '6.8 M', '0.1 M', '8.6 M', '0.7 M', '17.6 M', '59.9 M', '10.9 M', '22.2 M', '46.9 M', '0.6 M', '22.1 M', '10.0 M', '65.5 M', '71.7 M', '8.8 M', '0.1 M', '1.5 M', '12.4 M', '85.3 M', '6.4 M', '0.0 M', '47.2 M', '38.0 M', '3.4 M', '35.6 M', '0.3 M', '28.3 M', '98.2 M', '33.7 M', '20.0 M', '16.3 M']

152

In [43]:
GNI_per_capita = []
for i in range(796):
    if i%5 == 2:
        GNI_per_capita.append(c[i])
    if c[i-2] == 'Zimbabwe':
        break

print(GNI_per_capita)
len(GNI_per_capita)

['390 USD', '6,770 USD', '3,900 USD', '1,900 USD', '18,280 USD', '11,620 USD', '5,960 USD', '29,460 USD', '5,630 USD', '31,530 USD', '27,180 USD', '2,820 USD', '19,350 USD', '7,240 USD', '6,800 USD', '1,400 USD', '3,040 USD', '3,450 USD', '7,660 USD', '7,350 USD', '8,140 USD', '31,410 USD', '13,250 USD', '840 USD', '240 USD', '1,700 USD', '1,660 USD', '4,140 USD', '480 USD', '690 USD', '15,360 USD', '12,850 USD', '6,510 USD', '1,610 USD', '12,670 USD', '590 USD', '3,180 USD', '8,460 USD', '9,050 USD', '1,970 USD', '6,310 USD', '4,100 USD', '4,720 USD', '5,320 USD', '600 USD', '3,800 USD', '1,020 USD', '4,130 USD', '5,270 USD', '7,540 USD', '810 USD', '5,620 USD', '2,350 USD', '9,340 USD', '5,350 USD', '1,180 USD', '820 USD', '15,050 USD', '1,610 USD', '2,740 USD', '2,380 USD', '4,580 USD', '3,900 USD', '5,270 USD', '2,620 USD', '5,670 USD', '4,260 USD', '9,470 USD', '2,170 USD', '3,280 USD', '5,590 USD', '39,570 USD', '1,410 USD', '2,360 USD', '4,970 USD', '1,260 USD', '680 USD', '7,260 USD', '510 USD', '640 USD', '11,780 USD', '11,030 USD', '850 USD', '7,920 USD', '2,160 USD', '10,760 USD', '10,410 USD', '5,340 USD', '4,210 USD', '10,400 USD', '3,710 USD', '500 USD', '1,210 USD', '4,880 USD', '17,870 USD', '1,340 USD', '2,090 USD', '610 USD', '2,140 USD', '6,640 USD', '20,150 USD', '1,580 USD', '12,790 USD', '16,750 USD', '2,730 USD', '5,920 USD', '6,770 USD', '3,950 USD', '18,350 USD', '70,500 USD', '2,060 USD', '15,660 USD', '12,830 USD', '930 USD', '19,730 USD', '11,160 USD', '9,110 USD', '3,630 USD', '2,410 USD', '27,590 USD', '1,640 USD', '9,140 USD', '14,340 USD', '510 USD', '2,220 USD', '470 USD', '6,780 USD', '460 USD', '3,610 USD', '760 USD', '4,880 USD', '760 USD', '1,210 USD', '1,200 USD', '7,230 USD', '990 USD', '4,930 USD', '16,330 USD', '3,840 USD', '10,590 USD', '7,080 USD', '7,210 USD', '930 USD', '4,270 USD', '18,030 USD', '2,190 USD', '3,560 USD', '13,080 USD', '4,010 USD', '670 USD', '1,170 USD', '1,500 USD']

152

In [44]:
human_development_index = []
for i in range(796):
    if i%5 == 3:
        human_development_index.append(c[i])
    if c[i-3] == 'Zimbabwe':
        break

print(human_development_index)
len(human_development_index)

['0.478', '0.796', '0.745', '0.586', '0.788', '0.842', '0.759', '', '0.745', '0.812', '0.875', '0.661', '0.790', '0.808', '0.683', '0.525', '0.666', '0.692', '0.780', '0.693', '0.754', '0.829', '0.795', '0.449', '0.426', '0.593', '0.576', '0.662', '0.404', '0.394', '0.855', '0.768', '0.752', '0.558', '0.809', '0.479', '0.509', '0.720', '0.767', '0.607', '0.740', '0.731', '0.675', '0.596', '0.492', '0.597', '0.498', '0.628', '0.730', '0.706', '0.500', '0.802', '0.632', '0.795', '0.627', '0.465', '0.483', '0.714', '0.535', '0.621', '0.633', '0.705', '0.774', '0.686', '0.550', '0.709', '0.720', '0.811', '0.575', '0.624', '', '0.831', '0.692', '0.607', '0.706', '0.514', '0.481', '0.718', '0.501', '0.512', '0.803', '0.747', '0.428', '0.639', '0.556', '0.802', '0.758', '0.767', '0.739', '0.832', '0.683', '0.446', '0.585', '0.615', '', '0.602', '0.667', '0.400', '0.535', '0.770', '0.816', '0.544', '0.767', '0.805', '0.558', '0.717', '0.762', '0.699', '0.876', '0.855', '0.571', '0.821', '0.822', '0.534', '0.777', '0.715', '0.751', '0.707', '0.618', '0.875', '0.511', '0.802', '0.785', '0.477', '0.564', '', '0.713', '0.385', '0.782', '0.508', '0.730', '0.577', '0.685', '0.549', '0.800', '0.539', '0.745', '0.810', '0.731', '0.838', '0.745', '0.641', '0.525', '0.773', '0.809', '0.727', '0.607', '0.691', '0.703', '0.455', '0.565', '0.593']

152

In [45]:
human_asset_index = []
for i in range(796):
    if i%5 == 4:
        human_asset_index.append(c[i])
    if c[i-4] == 'Zimbabwe':
        break

print(human_asset_index)
len(human_asset_index)

['42.0', '', '90.2', '52.0', '96.4', '97.6', '94.6', '', '93.0', '90.3', '97.9', '75.3', '98.0', '', '89.3', '49.4', '79.5', '88.5', '', '83.1', '95.9', '93.8', '', '56.0', '53.9', '74.3', '61.2', '91.2', '27.4', '18.3', '99.1', '95.7', '93.9', '67.2', '97.3', '47.9', '61.9', '93.5', '90.9', '69.5', '90.3', '83.3', '88.2', '67.1', '57.2', '77.1', '55.3', '83.3', '94.2', '78.5', '63.8', '98.4', '78.5', '96.5', '69.3', '39.8', '44.0', '89.8', '66.2', '83.4', '74.3', '83.3', '91.4', '75.3', '53.0', '91.3', '90.4', '98.3', '73.2', '81.5', '', '97.5', '94.5', '72.8', '88.2', '62.6', '45.2', '83.6', '60.7', '55.5', '89.5', '89.4', '45.6', '79.6', '54.1', '94.1', '94.9', '', '95.3', '', '83.1', '53.9', '73.9', '83.5', '92.0', '74.9', '85.3', '35.6', '43.5', '', '93.1', '57.6', '92.1', '89.1', '53.5', '90.7', '92.7', '84.3', '', '96.2', '68.7', '', '', '67.6', '96.1', '93.3', '94.1', '96.1', '89.4', '95.6', '66.4', '', '92.4', '41.7', '73.8', '24.3', '86.2', '22.0', '93.2', '61.9', '91.2', '77.2', '88.7', '61.1', '94.0', '58.8', '98.4', '94.6', '90.8', '97.1', '92.4', '82.8', '57.8', '', '98.1', '95.7', '77.5', '91.3', '88.0', '57.7', '67.1', '70.4']

152

In [154]:
df = pd.DataFrame()

In [155]:
df['COUNTRY'] = country
df['POPULATION(MILLION)'] = population
df['GNI_PER_CAPITA(USD)'] = GNI_per_capita
df['HDI'] = human_development_index
df['HAI'] = human_asset_index

In [156]:
df

                 COUNTRY POPULATION(MILLION) GNI_PER_CAPITA(USD)    HDI   HAI
0            Afghanistan              41.1 M             390 USD  0.478  42.0
1                Albania               2.8 M           6,770 USD  0.796
2                Algeria              44.9 M           3,900 USD  0.745  90.2
3                 Angola              35.6 M           1,900 USD  0.586  52.0
4    Antigua and Barbuda               0.1 M          18,280 USD  0.788  96.4
..                   ...                 ...                 ...    ...   ...
147            Venezuela              28.3 M          13,080 USD  0.691  91.3
148              Vietnam              98.2 M           4,010 USD  0.703  88.0
149                Yemen              33.7 M             670 USD  0.455  57.7
150               Zambia              20.0 M           1,170 USD  0.565  67.1
151             Zimbabwe              16.3 M           1,500 USD  0.593  70.4

[152 rows x 5 columns]

In [157]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   COUNTRY              152 non-null    object
 1   POPULATION(MILLION)  152 non-null    object
 2   GNI_PER_CAPITA(USD)  152 non-null    object
 3   HDI                  152 non-null    object
 4   HAI                  152 non-null    object
dtypes: object(5)
memory usage: 6.1+ KB

In [158]:
df['HAI'] = pd.to_numeric(df['HAI'], errors='coerce')
df['HDI'] = pd.to_numeric(df['HDI'], errors='coerce')

In [159]:
for i in range(152):
    df['POPULATION(MILLION)'][i] = df['POPULATION(MILLION)'][i].split()[0]

C:\Users\Mohammad Junaid Alam\AppData\Local\Temp\ipykernel_15812\1913792443.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['POPULATION(MILLION)'][i] = df['POPULATION(MILLION)'][i].split()[0]

In [160]:
for i in range(152):
    df['GNI_PER_CAPITA(USD)'][i] = df['GNI_PER_CAPITA(USD)'][i].split()[0]

C:\Users\Mohammad Junaid Alam\AppData\Local\Temp\ipykernel_15812\4159352721.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['GNI_PER_CAPITA(USD)'][i] = df['GNI_PER_CAPITA(USD)'][i].split()[0]

In [161]:
df

                 COUNTRY POPULATION(MILLION) GNI_PER_CAPITA(USD)    HDI   HAI
0            Afghanistan                41.1                 390  0.478  42.0
1                Albania                 2.8               6,770  0.796   NaN
2                Algeria                44.9               3,900  0.745  90.2
3                 Angola                35.6               1,900  0.586  52.0
4    Antigua and Barbuda                 0.1              18,280  0.788  96.4
..                   ...                 ...                 ...    ...   ...
147            Venezuela                28.3              13,080  0.691  91.3
148              Vietnam                98.2               4,010  0.703  88.0
149                Yemen                33.7                 670  0.455  57.7
150               Zambia                20.0               1,170  0.565  67.1
151             Zimbabwe                16.3               1,500  0.593  70.4

[152 rows x 5 columns]

In [162]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   COUNTRY              152 non-null    object
 1   POPULATION(MILLION)  152 non-null    object
 2   GNI_PER_CAPITA(USD)  152 non-null    object
 3   HDI                  148 non-null    float64
 4   HAI                  138 non-null    float64
dtypes: float64(2), object(3)
memory usage: 6.1+ KB

In [163]:
df['GNI_PER_CAPITA(USD)'] = df['GNI_PER_CAPITA(USD)'].str.replace(',', '').astype(float)

In [164]:
df['POPULATION(MILLION)'] = df['POPULATION(MILLION)'].str.replace(',', '').astype(float)

In [165]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   COUNTRY              152 non-null    object
 1   POPULATION(MILLION)  152 non-null    float64
 2   GNI_PER_CAPITA(USD)  152 non-null    float64
 3   HDI                  148 non-null    float64
 4   HAI                  138 non-null    float64
dtypes: float64(4), object(1)
memory usage: 6.1+ KB

In [169]:
df.describe()

       POPULATION(MILLION)  GNI_PER_CAPITA(USD)         HDI         HAI
count           152.000000           152.000000  148.000000  138.000000
mean             44.888158          7026.973684    0.666723   77.491304
std             166.539054          8750.002614    0.125098   19.201431
min               0.000000           240.000000    0.385000   18.300000
25%               1.775000          1632.500000    0.564750   64.400000
50%               9.000000          4235.000000    0.692500   83.450000
75%              33.125000          9065.000000    0.768500   93.075000
max            1425.800000         70500.000000    0.876000   99.100000

In [174]:
df.isnull().sum()

COUNTRY                 0
POPULATION(MILLION)     0
GNI_PER_CAPITA(USD)     0
HDI                     4
HAI                    14
dtype: int64

In [175]:
df.to_excel("development.xlsx")